@use 'script' as fun;

//color
$color: (
  _primary: #57c3c5,
  _dark: #000000,
  _light: #dfdfdf80,
  _bg:#ffffff,
);

//font
$font-base: "Noto Sans KR", sans-serif;

//breakpoints
$breakpoints: (
  _mobile: 480px,
  _tablet: 768px,
  _desktop: 1024px,
);

//font-size
$font: (
  _sm: fun.rem(12),
)