@use 'script' as *;

//color
$primary-color: #eddaca;
$black-color: #000000;
$grey-color: #dfdfdf80;
$bg-color: #ffffff;

//font
$base-font: "Noto Sans KR", sans-serif;

//breakpoints
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;

//font-size
$font: (
  _sm: rem(12),
)