//color
$colors: (
  primary: #57c3c5,
  black1: #000000,
  light-grey: #dfdfdf80,
  white1: #ffffff,
);

//font
$font-base: 'Pretendard', sans-serif;

//breakpoints
$breakpoints: (
  mobile: 480px,
  tablet: 768px,
  desktop: 1024px,
);