@use './abstracts/index' as *;

.wrap{
  background: $bg-color;
  @include flexbox(column);
  width: 100%;
  max-width: $bp-mobile;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

header{
  width: 100%;
  padding: rem(15) rem(18);
  h1{
    color: #be9c7a;
  }
}

footer{
  width: 100%;
  padding: rem(18);
  text-align: center;
  font-size: rem(12);
}

// 메뉴바
.menuBar{
  background: #fff;
  border-top: 1px solid $grey-color;
  width: 100%;
  max-width: $bp-mobile;
  height: rem(80);
  position: sticky;
  bottom: 0; left: 0;
  ul{
    @include flexbox(row, center, center);
    li{
      @include flexbox(column, center, center);
      width: 20%;
      height: rem(80);
      background: no-repeat center center;
      background-size: rem(32) auto;
      &.on a{
        color: #be9c7a;
      }
      img{
        width: rem(29);
        height: rem(29);
      }
      a{
        @include flexbox(column, center, center);
        gap: rem(3);
        letter-spacing: rem(-1);
        font-size: rem(12);
        color: #949494;
      }
    }
  }
}

.contents{
  width: 100%;
  height: 100vh;
  min-height: 600px;
  padding: rem(18);
}

// common
.btn{
  @include button;
}


