@use './abstracts/index' as *;

// common
.title{
  padding: 0 rem(15) rem(10);
  letter-spacing: rem(-1);
  font-size: rem(17);
  span{
    font-weight: bold;
    color: #be9c7a;
  }
}

.visualCon{
  width: 100%;
  .tit{
    &::first-line{
      line-height: rem(30);
      font-weight: bold;
      font-size: rem(15);
      color: #000;
    }
    padding: 0 rem(15);
    white-space: pre-line;
    text-align: center;
    font-size: rem(11);
    color: #777;
  }
  .swiper{
    .swiper-pagination{
      .swiper-pagination-bullet-active{
        background: $primary-color;
      }
    }
    .slideCard {
      position: relative;
      width: 100%;
      padding-top: 153.33%; /* 4:3 비율 => 4 / 3 * 100 */
      overflow: hidden;
      margin-bottom: rem(10);
      .bookImg {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
      }
    }
    
  }
}

.contents{
  @include flexbox(column, flex-start, flex-start, 12);
}